.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  background: url('/img/home-background-cutout.png');
  background-size:50%;
  background-repeat: no-repeat;
}

.home-padding {
  order: 1;
}

.home-heading {
  order: 2;
}

.home-heading-primary {
  font-size: 3rem;
  font-weight: 100;
}

.home-heading-secondary {
  font-size: 2.5rem;
  font-weight: 100;
  animation-delay: 0.3s;
}