/* global */
html {
  font-size: 16px;
  min-height: 100%;
}

body {
  color: var(--primary-color-text);
  font-family: 'Press Start 2P', cursive;
  background: 
    linear-gradient(
      to bottom, 
      var(--primary-color), 
      var(--secondary-color) 100%) 
    no-repeat fixed;
  margin: 0;
}
